*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#arfaqsection{
    width: 60%;
    margin: auto;
    margin-top: 5%;
}
#arfaqsection h1{
    padding-top: 10% ;
    font-weight: 400;
    font-size: 300%;
    text-align: center;
}
.collapsible {
  background-color: rgb(255, 255, 255);
  color: rgb(60, 60, 60);
  cursor: pointer;
  padding: 2%;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: 3%;
  font-size: 150%;
  font-weight: 300;
}
.collapsible:after {
  content: '\002B';
  color:rgb(20, 20, 20);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 25px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
  font-size: 150%;
  font-weight: 300;
}
#arcontactus{
    margin-top: 5%;
}
#arcontactus > img{
    width: 100%;
}
#arcontactusinfo {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(2,50%);
    margin: auto;
    margin-top: -35%;
}
#arcontactus-left{
    align-items: center;
    align-content: center;
    margin: auto;
}
#arcontactus-left h1{
    font-weight: 300;
    font-size: 300%;
}
#arcontactus-left h3{
    margin-top: 5%;
    font-weight: 300;
    font-size: 200%;
}
#arfooter2-right{
    width: 80%;
    padding: 5%;
    margin: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: white;
}
.contactusbuttonsubmit{
    background-color:#2781E7;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 2%;
    width: 100%;
}
.contactusbuttonsubmit:hover{
    background-color: #0c60bf;
}

