* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(226, 175, 254);
}

.container {
  width: 80vw;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 80px;
}

.box:nth-of-type(1) {
  flex-grow: 1;
}

.box:nth-of-type(4) {
  flex-grow: 2;
}

.box {
  height: 150px;
  width: 150px;
  background-color: rgb(120, 120, 255);
  border: 4px solid black;
  border-radius: 5px;
  margin: 5px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.532);
}
